body 
{
  font-family:Arial; 
  background-image: url("https://img.feepik.com/premium-vector/technolgy-landscape-high-tech-background-imageon-design_262356-436.jpg?w=996");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;

}